  <ul>
               <li><%= @kitty.name %></li>
               <li><%= @kitty.birth_date%></li>
               <li><%= @kitty.color %></li>
               <li><%= @kitty.sex %></li>
               <li><%= @kitty.description %></li> 
 </ul>